@charset "utf-8";

@import "../../../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../../../node_modules/bulmaswatch/solar/_variables.scss";

$bulmaswatch-import-font: false;
$red: #dd203b;
$danger: $red;
$green: #06963d;
$success: $green;


// @import "../../../../node_modules/bulma/bulma";


// @import "../../../../node_modules/bulma/sass/utilities/_all.sass";
// @import "../../../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../../../../node_modules/bulma/sass/utilities/functions.sass";
@import "../../../../node_modules/bulma/sass/utilities/derived-variables.sass";
@import "../../../../node_modules/bulma/sass/utilities/animations.sass";
@import "../../../../node_modules/bulma/sass/utilities/mixins.sass";
@import "../../../../node_modules/bulma/sass/utilities/controls.sass";

@import "../../../../node_modules/bulma/sass/base/_all.sass";
// @import "../../../../node_modules/bulma/sass/base/generic.sass";
// @import "../../../../node_modules/bulma/sass/base/helpers.sass";
// @import "../../../../node_modules/bulma/sass/base/minireset.sass";

// @import "../../../../node_modules/bulma/sass/components/_all.sass";
// @import "../../../../node_modules/bulma/sass/components/breadcrumb.sass";
// @import "../../../../node_modules/bulma/sass/components/card.sass";
// @import "../../../../node_modules/bulma/sass/components/dropdown.sass";
// @import "../../../../node_modules/bulma/sass/components/level.sass";
@import "../../../../node_modules/bulma/sass/components/list.sass";
// @import "../../../../node_modules/bulma/sass/components/media.sass";
@import "../../../../node_modules/bulma/sass/components/menu.sass";
// @import "../../../../node_modules/bulma/sass/components/message.sass";
@import "../../../../node_modules/bulma/sass/components/modal.sass";
@import "../../../../node_modules/bulma/sass/components/navbar.sass";
// @import "../../../../node_modules/bulma/sass/components/pagination.sass";
// @import "../../../../node_modules/bulma/sass/components/panel.sass";
// @import "../../../../node_modules/bulma/sass/components/tabs.sass";

// @import "../../../../node_modules/bulma/sass/elements/_all.sass";
@import "../../../../node_modules/bulma/sass/elements/box.sass";
@import "../../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../../node_modules/bulma/sass/elements/content.sass";
// @import "../../../../node_modules/bulma/sass/elements/icon.sass";
// @import "../../../../node_modules/bulma/sass/elements/image.sass";
// @import "../../../../node_modules/bulma/sass/elements/notification.sass";
// @import "../../../../node_modules/bulma/sass/elements/progress.sass";
@import "../../../../node_modules/bulma/sass/elements/table.sass";
// @import "../../../../node_modules/bulma/sass/elements/tag.sass";
@import "../../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../../node_modules/bulma/sass/elements/other.sass";

@import "../../../../node_modules/bulma/sass/form/_all.sass";
// @import "../../../../node_modules/bulma/sass/form/shared.sass";
// @import "../../../../node_modules/bulma/sass/form/input-textarea.sass";
// @import "../../../../node_modules/bulma/sass/form/checkbox-radio.sass";
// @import "../../../../node_modules/bulma/sass/form/select.sass";
// @import "../../../../node_modules/bulma/sass/form/file.sass";
// @import "../../../../node_modules/bulma/sass/form/tools.sass";

// @import "../../../../node_modules/bulma/sass/grid/_all.sass";
@import "../../../../node_modules/bulma/sass/grid/columns.sass";
// @import "../../../../node_modules/bulma/sass/grid/tiles.sass";

// @import "../../../../node_modules/bulma/sass/layout/_all.sass";
// @import "../../../../node_modules/bulma/sass/layout/footer.sass";
// @import "../../../../node_modules/bulma/sass/layout/hero.sass";
@import "../../../../node_modules/bulma/sass/layout/section.sass";



@import "../../../../node_modules/bulmaswatch/solar/_overrides.scss";



// @import 'icon-embedded';


// game
#game {
    position: relative;
    padding-bottom: 56.25%;
    margin-left: auto;
    margin-right: auto;
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
}

#layer-background {
    z-index: 1;
}

#layer-unit {
    z-index: 2;
    background: transparent!important;
}

#layer-info {
    z-index: 3;
    background: transparent!important;
}


.unit {
    z-index: 2;
    position: absolute;
    width: 2.825%;
    height: 5%;
    background-color: red;
}



// fullscreen: full width (hack inside...)
#game:fullscreen #layer-info {
    width: 100vw;
    height: 56.5vw;
    top: 50%;
    transform: translate(0, -50%);
}
#game:fullscreen #layer-unit {
    width: 100vw;
    height: 56.5vw;
    top: 50%;
    transform: translate(0, -50%);
}
#game:fullscreen #layer-background {
    width: 100vw;
    height: 56.5vw;
    top: 50%;
    transform: translate(0, -50%);
}
#game:fullscreen #layer-background img {
    width: 100%;
    height: auto;
}

#game:-webkit-full-screen #layer-info {
    width: 100vw;
    height: 56.5vw;
    top: 50%;
    transform: translate(0, -50%);
}
#game:-webkit-full-screen #layer-unit {
    width: 100vw;
    height: 56.5vw;
    top: 50%;
    transform: translate(0, -50%);
}
#game:-webkit-full-screen #layer-background {
    width: 100vw;
    height: 56.5vw;
    top: 50%;
    transform: translate(0, -50%);
}
#game:-webkit-full-screen #layer-background img {
    width: 100%;
    height: auto;
}

#game:-moz-full-screen #layer-info {
    width: 100vw;
    height: 56.5vw;
    top: 50%;
    transform: translate(0, -50%);
}
#game:-moz-full-screen #layer-unit {
    width: 100vw;
    height: 56.5vw;
    top: 50%;
    transform: translate(0, -50%);
}
#game:-moz-full-screen #layer-background {
    width: 100vw;
    height: 56.5vw;
    top: 50%;
    transform: translate(0, -50%);
}
#game:-moz-full-screen #layer-background img {
    width: 100%;
    height: auto;
}

#game:-ms-fullscreen #layer-info {
    width: 100vw;
    height: 56.5vw;
    top: 50%;
    transform: translate(0, -50%);
}
#game:-ms-fullscreen #layer-unit {
    width: 100vw;
    height: 56.5vw;
    top: 50%;
    transform: translate(0, -50%);
}
#game:-ms-fullscreen #layer-background {
    width: 100vw;
    height: 56.5vw;
    top: 50%;
    transform: translate(0, -50%);
}
#game:-ms-fullscreen #layer-background img {
    width: 100%;
    height: auto;
}
