@charset "utf-8";

@import "../../../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../../../node_modules/bulmaswatch/solar/_variables.scss";

$bulmaswatch-import-font: false;
$red: #dd203b;
$danger: $red;
$green: #06963d;
$success: $green;


// @import "../../../../node_modules/bulma/bulma";


// @import "../../../../node_modules/bulma/sass/utilities/_all.sass";
// @import "../../../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../../../../node_modules/bulma/sass/utilities/functions.sass";
@import "../../../../node_modules/bulma/sass/utilities/derived-variables.sass";
@import "../../../../node_modules/bulma/sass/utilities/animations.sass";
@import "../../../../node_modules/bulma/sass/utilities/mixins.sass";
@import "../../../../node_modules/bulma/sass/utilities/controls.sass";

@import "../../../../node_modules/bulma/sass/base/_all.sass";
// @import "../../../../node_modules/bulma/sass/base/generic.sass";
// @import "../../../../node_modules/bulma/sass/base/helpers.sass";
// @import "../../../../node_modules/bulma/sass/base/minireset.sass";

// @import "../../../../node_modules/bulma/sass/components/_all.sass";
// @import "../../../../node_modules/bulma/sass/components/breadcrumb.sass";
// @import "../../../../node_modules/bulma/sass/components/card.sass";
// @import "../../../../node_modules/bulma/sass/components/dropdown.sass";
// @import "../../../../node_modules/bulma/sass/components/level.sass";
@import "../../../../node_modules/bulma/sass/components/list.sass";
// @import "../../../../node_modules/bulma/sass/components/media.sass";
@import "../../../../node_modules/bulma/sass/components/menu.sass";
// @import "../../../../node_modules/bulma/sass/components/message.sass";
@import "../../../../node_modules/bulma/sass/components/modal.sass";
@import "../../../../node_modules/bulma/sass/components/navbar.sass";
// @import "../../../../node_modules/bulma/sass/components/pagination.sass";
// @import "../../../../node_modules/bulma/sass/components/panel.sass";
// @import "../../../../node_modules/bulma/sass/components/tabs.sass";

// @import "../../../../node_modules/bulma/sass/elements/_all.sass";
@import "../../../../node_modules/bulma/sass/elements/box.sass";
@import "../../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../../node_modules/bulma/sass/elements/content.sass";
// @import "../../../../node_modules/bulma/sass/elements/icon.sass";
// @import "../../../../node_modules/bulma/sass/elements/image.sass";
// @import "../../../../node_modules/bulma/sass/elements/notification.sass";
// @import "../../../../node_modules/bulma/sass/elements/progress.sass";
@import "../../../../node_modules/bulma/sass/elements/table.sass";
// @import "../../../../node_modules/bulma/sass/elements/tag.sass";
@import "../../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../../node_modules/bulma/sass/elements/other.sass";

@import "../../../../node_modules/bulma/sass/form/_all.sass";
// @import "../../../../node_modules/bulma/sass/form/shared.sass";
// @import "../../../../node_modules/bulma/sass/form/input-textarea.sass";
// @import "../../../../node_modules/bulma/sass/form/checkbox-radio.sass";
// @import "../../../../node_modules/bulma/sass/form/select.sass";
// @import "../../../../node_modules/bulma/sass/form/file.sass";
// @import "../../../../node_modules/bulma/sass/form/tools.sass";

// @import "../../../../node_modules/bulma/sass/grid/_all.sass";
@import "../../../../node_modules/bulma/sass/grid/columns.sass";
// @import "../../../../node_modules/bulma/sass/grid/tiles.sass";

// @import "../../../../node_modules/bulma/sass/layout/_all.sass";
// @import "../../../../node_modules/bulma/sass/layout/footer.sass";
// @import "../../../../node_modules/bulma/sass/layout/hero.sass";
@import "../../../../node_modules/bulma/sass/layout/section.sass";



@import "../../../../node_modules/bulmaswatch/solar/_overrides.scss";



// @import 'icon-embedded';


// game
#game{
    background: #252525;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}

#game img {
    width: 100%;
    height: auto;
}


// fullscreen: full width background color
#game:fullscreen {
    width: 100%;
}

#game:-webkit-full-screen {
    width: 100%;
}

#game:-moz-full-screen {
    width: 100%;
}

#game:-ms-fullscreen {
    width: 100%;
}


// fullscreen: full height background image
#game:fullscreen img {
    width: auto;
    height: 100vh;
}

#game:-webkit-full-screen img {
    width: auto;
    height: 100vh;
}

#game:-moz-full-screen img {
    width: auto;
    height: 100vh;
}

#game:-ms-fullscreen img {
    width: auto;
    height: 100vh;
}
