<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}rmrf</title>
	<link rel="shortcut icon" href="/static/img/favicon.ico"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"> <!--TODO-->
    <script src="https://unpkg.com/mithril/mithril.js"></script> <!--TODO-->
	{# <link rel="stylesheet" type="text/css" href={% static "css/rmrf.min.css" %}> #} <!--TODO-->
    {% block style %}{% endblock %}
  </head>

  <body>
    {# {% include "component/navbar.html" %} #} <!--TODO-->
    <section class="section">
        {% block content %}{% endblock %}
    </section>

    {% block footer %}{% endblock %}

	<script type="text/javascript" src="static/js/rmrf.js"></script>

    {% block script %}{% endblock %}
  </body>
</html>
