<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}rmrf</title>
	<link rel="shortcut icon" href="/static/img/favicon.ico"/>

	<script type="text/javascript" src="/static/js/mithril.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/rmrf.min.css">
    {% block style %}{% endblock %}
  </head>

  <body>
    {# {% include "component/navbar.html" %} #} <!--TODO-->
    <section class="section">
        {% block content %}{% endblock %}
    </section>

    {% block footer %}{% endblock %}

	<script type="text/javascript" src="/static/js/rmrf.min.js"></script>
    {% block script %}{% endblock %}
  </body>
</html>
