<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yo | rmrf</title>
	<link rel="shortcut icon" href="static/img/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="static/css/rmrf.min.css">
	<script type="text/javascript" src="static/js/mithril.js"></script>
	<script type="text/javascript" src="static/js/socket.io.js"></script>
  </head>

  <body>
	<script type="text/javascript" src="static/js/rmrf.min.js"></script> <!--TODO: move that to top-->
  </body>
</html>
