<div class="modal" id="login-modal">
  <div class="modal-background"></div>

  <div class="modal-content is-clipped">
    <div class="columns is-mobile is-centered">
      <div class="column is-half">
        <div class="field has-addons">
          <div class="control">
            <input class="input" id="login-input" type="text" placeholder="Enter your name">
          </div>
          <div class="control">
            <a class="button is-info" onclick="login()">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>
