<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/static/img/logo.png" width="96">
    </a>

	<label role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="super-navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
	</label>
  </div>

  <div class="navbar-menu" id="super-navbar">
    <div class="navbar-start">
      <a class="navbar-item" href="/TODO">TODO</a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
		  {% if 0 %}
			<a class="button is-warning" onclick="logout()"><strong>Log out</strong></a>
		  {% else %}
			<a class="button is-light modal-button" data-target="login-modal">Log in</a>
		  {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>
